# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
.idea/
# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/ephemeral/
# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore
# Env / secrets
.env
*.g.dart.bak
# OS / editor
.DS_Store
.vscode/
